$primary: lightcoral;

$primary-text: darkgrey;
$secondary-text: lightcoral;

$btn-color: white;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
    --clr-light: aliceblue;
    --clr-dark: #00332a;
    // --clr-primary: #dbffa2;
    // --clr-secondary: #c3fcf2;
    // --clr-accent: #ff7750;
    // --bs-body-bg: #283447;
    // --bs-card-bg: #2D4358;
  
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
  
  }


body, html {

    font-family: monospace;
    color: $primary-text !important;
    font-size: 2.2vh;

    background-color: aliceblue;
    // opacity: 0.8;
    // background-image: radial-gradient(dimgray 0.5px, #e5e5f7 0.5px);
    // background-size: 13px 13px;
    background: var(--background);
    color: var(--foreground);

    // REMOVING WHITE SPACE
    width: auto!important;
    overflow-x: hidden !important;

    

    .darkmode {
        // icon button color
        --clr-light: darkgrey;
        --clr-dark: #283447;
      
        --foreground: var(--clr-light);
        --background: var(--clr-dark);

        .card {
            background-color: #2D4358;
        }

        .form-control {
            background-color: #283447;
            color: darkgrey;
        }

        .label {
            background-color: #283447 !important;
        }

        .dropdown-menu {
            background-color: #283447 !important;
        }
        
    }
      
    .dark-mode-toggle {
      position: absolute;
      z-index: 100;
      top: 1em;
      right: 1em;
      // color: var(--foreground);
      // border: 2px solid currentColor;
      // padding: 4px;
      background: transparent;
      cursor: pointer;
      // border-radius: 5px;
      width: 30px;
      height: 30px;
    }

    .home-sec {
        height: 70vh !important;
    }

    .bi-eye {
        float: right;
    }

    .btn-primary {
        color: white;
    }

    .btn-primary:hover {
        color: lightgray;
    }

    .btn-primary:active {
        color: lightgray !important;
    }

    .submit-btn {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .navbar {

        a {
            color: $primary-text !important;
            // font-weight: 600;
        }

        i:hover {
            transform: scale(1.2);
            /* Increase the size on hover */
            color: $secondary-text;
            /* Change the color on hover */
            cursor: pointer;
        }

        .navbar-brand {
            color: $primary-text !important;
        }

        .navbar-nav {
            margin-left: auto;
            margin-right: auto;
            
        }

        // .left-nav {
        //     // margin-left: auto;
            
        // }

        .img-logo {
            margin: 20px;
            height: 5vh;
            display: block;
        }

        .dropdown-menu {
            border: none !important;
        }

    }

    .home-container {
        justify-content: center;

        .home-title {
            text-align: center;
            font-size:  129.6px;
            margin-top: 25vh;
        }

        .resume {
            // align-items: center;
            // width: 40%;
            // justify-content: center;
            // // margin-left: 50%;
            // // margin-right: auto;
            color: white;
        }

        
        .btn-primary:active {
            color: lightgray;
        }

    }

    .span-secondary {
        color: $secondary-text;
    }

    section {
        height: 100%;
        /* Set the desired height */
        width: auto;
        /* Set the desired width */
    }

    .section-title {
        margin-top: 2%;
        margin-bottom: 2%;
        font-weight: bold;
        // padding: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        // font-size: 4vh;
    }

    .about-img {
        width: 50vh;
        height: auto;
        // float: right;
        border-radius: 1vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: block;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .about-col{
        display: block;
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

    .journey-img {
        width: 100%;
        height: 90%;
        float: right;
        border-radius: 1vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: block;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .event-img {
        width: 100%;
        border-radius: 1vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .event-col {
        display: block;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .row-eq-height {
      display: flex;
    }

    .col-md-3 {
        margin-top: 2%;

        .skill-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }

        .skill-title {
            text-align: center;
            font-size: 2vh;
        }
    }

    .card {
        border: none;
        color: $primary-text;
    }

    .card:hover {
        // transform: scale(1.2);
        transition: width 2s;
    }

    .card-footer {
        background-color: transparent !important;
        border-top: none !important;
        // padding-top: 2px !important;
        // padding-bottom: auto !important;

        i {
            // float: right;
            position: absolute;
            bottom: 15px;
            right: 15px;
            color: $primary-text;
        }

        i:hover {
            transform: scale(1.2);
            /* Increase the size on hover */
            color: $secondary-text;
            /* Change the color on hover */
        }
    }

    // start typewriter
    .typewriter {
        overflow: hidden;
        /* Ensures the text doesn't overflow its container */
        border-right: 0.15em solid black;
        /* Creates the blinking cursor effect */
        white-space: nowrap;
        /* Prevents the text from wrapping */
        margin: 0 auto;
        /* Centers the element horizontally */
        letter-spacing: 0.15em;
        /* Adjust the spacing between letters (optional) */
        animation: typing 3s steps(20, end), blink-caret 0.75s step-end infinite;
        font-size: 3.5vh;
        text-align: center;
        width: 41vh;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 41vh;
        }
    }

    @keyframes blink-caret {

        from,
        to {
            border-color: transparent;
        }

        50% {
            border-color: dimgray;
        }
    }

    //   end typewriter

    /**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
    @-webkit-keyframes slide-fwd-center {
        0% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        100% {
            -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
        }
    }

    @keyframes slide-fwd-center {
        0% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        100% {
            -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
        }
    }

    .floating-button {
        position: fixed;
        bottom: 20px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 24px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    // .floating-button.linkedin {
    //     background-color: #5177c9;
    //     right: 160px;
    // }

    // .floating-button.github {
    //     background-color: #af7777;
    //     right: 90px;
    // }

    // .floating-button.codepen {
    //     background-color: #dfd76b;
    //     right: 20px;
    // }

    // body.dark-mode {
    //     background-color: #212529;
    // }

    // body.sun-mode {
    //     background-color: aliceblue;
    // }



    

    .floating-button.darkmode {
        background-color: #3d3d3d;
        right: 20px;
        z-index: 1000;
    }

    .floating-button:hover {
        background-color: #555;
        
    }

    .floating-button i {
        color: white;
    }

    // end floating button


    // zoom image
    .zoom {
        transition: transform .2s;
        /* Animation */
        margin: 0 auto;
    }
    
    .zoom:hover {
        transform: scale(1.5);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .contact {
        display: block;
        margin-left: 20vh;
        margin-right: 20vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .contact-icon {
        font-size: 40px;
        color: #A9A9A9;
        
        // margin: 3vh;
        
    }

    .form-control {
        color: darkgrey;
    }

    .contact-img-icon {
        margin-bottom: 3rem;
        padding-bottom: 2em;

    }

    .p-footer{
        margin-bottom: 0px !important;
    }

    .contact-sec {
        height: 100vh !important;
    }

    

    //RIGHT SIDE
    .icon-bar-right {
        position: fixed;
        top: 50%;
        right:0%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
      
    .icon-bar-right a {
      display: block;
      text-align: center;
      padding: 16px;
      transition: all 0.3s ease;
      color: darkgrey;
      font-size: 20px;
    }

    .content {
        margin-left: 75px;
        font-size: 30px;
    }

    .vertical-line-right {
      border-left: 2px solid darkgrey;
      height: 500px;
      right: 45%;
      position: absolute;
    
    }

    .vertical-letter {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        white-space: nowrap;
        margin-bottom: 20px;
    }
      
      

    //LEFT SIDE
    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
      
    .icon-bar a {
      display: block;
      text-align: center;
      padding: 16px;
      padding-left: 5px;
      transition: all 0.3s ease;
      color: darkgrey;
      font-size: 20px;
    }
      
    .icon-bar a:hover {
        color: $primary;
    }

    .codepen img:nth-child(2) {
        display: none; 
    }
      
    .codepen:hover img:nth-child(1) {
        display: none;
    }
      
    .codepen:hover img:nth-child(2) {
        display: block;
    }
      
    .content {
      margin-left: 75px;
      font-size: 30px;
    }
      
    .vertical-line-left {
      border-left: 2px solid darkgrey;
      height: 500px;
      left: 40%;
      position: absolute;
    
    }

    .end-title {
        margin-top: 25%;
        font-size:  129.6px;
    }

    .end-desc {
        font-size: 2rem;
    }


    //FOR RESPONSIVE
    @media only screen and (max-width: 600px){
        .home-title {
            font-size: 2rem !important;
        }
        .typewriter {
            font-size: 1rem !important;
        }

        .main-timeline {
            padding-left: 0px;
            padding-right: 0px;
        }

        .right {
            padding-right: 0px;
        }

        .left {
            padding-right: 0px;
        }

        section {
            margin-left: 20px;
            margin-right: 20px;
        }

        .end-title {
            margin-top: 100%;
            font-size: 2rem;
        }

        .end-desc {
            font-size: 1rem;
        }

        
    }

        

    
       
} //body end tag

